.main-content{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-new-item {
    position: relative;
    margin: 10px 0 10px 0;
    display: flex;
    width: 600px;
    height: 55px;
}

#add-input{
    height: 100%;
    margin-right: 20px;
    float: left;
    font-size: 20px;
    -webkit-appearance: none;
    cursor: text;
}

/* .input-label, #add-input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

#add-input:focus {
outline: 0;
border-bottom: 1px solid #666;
}

.input-label {
text-transform: uppercase;
letter-spacing: 0.05em;
}

#add-input:placeholder-shown + .input-label {
cursor: text;
max-width: 66.66%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
transform-origin: left bottom;
transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

#add-input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

#add-input:not(:placeholder-shown) + .input-label,
#add-input:focus + .input-label {
transform: translate(0, 0) scale(1);
cursor: pointer;
} */

.add-new-item button{
    height: 70%;
    width: max-content;
    align-self: center;
    font-size: 15px;
}

ul {
    list-style-type: none;
    width: 600px;
  }
li {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

li .start {
    align-self: center;
    padding-left: 10px;

}

.checkbox{
    transform:scale(1.9);
    cursor:pointer;
    margin-right: 15px;
}

.checked{
    text-decoration: line-through;
}

li button{
    width: max-content;
}