.share-board {
  display: flex;
  align-items: center;
}

.share-board .account-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.share-board .tool-btn {
  margin-right: 0;
}

.accont-wrapper {
  position: relative;
}
