* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content{
    margin: 0 auto;
    padding-top: 30px;
    width: 600px;
    font-size: 20px;
}

h1 {
    font-weight: 500;
    text-align: center;
}

h1:hover {
    cursor: default;
}

.add-new-item {
    position: relative;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: relative;
}

#add-input{
    display: block;
    font-size: 20px;
    cursor: text;
    width: 82%;
    padding: 10px;
    border: 2px solid rgba(117, 117, 117, 0.1);
    border-radius: 5px;
    z-index: 1;
}

.input-label {
    position: absolute;
    display: block;
    font-weight: 300;
    font-size: 20px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    transition: 0.4s all;
}

input:focus {
    outline: none;
}

input:focus + .input-label {
    background-color: white;
    top: 0;
    font-size: 15px;
}

.add-btn{
    height: 65%;
    width: 10%;
    align-self: center;
    font-size: 13px;
    background-color: rgb(62, 106, 250);
    color: white;
    border: none;
    border-radius: 5px;
    justify-self: flex-end;
}

.add-btn:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding-left: 10px;
  }

li {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

li .start {
    align-self: center;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.checkbox{
    transform:scale(1.9);
    cursor:pointer;
    margin-right: 15px;
}

.checked {
    text-decoration: line-through;
}

.delete-btn {
    width: 75px;
    height: 30px;
    background-color: white;
    color: rgb(250, 70, 100);
    border: 0.5px solid rgb(250, 70, 100);
    border-radius: 3px;
    transition: 0.2s all;
}

.delete-btn:hover {
    cursor: pointer;
    background-color: rgb(250, 70, 100);
    color: white;
}