* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px 0 0;
}

.menu a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-size: 18px;
  transition: 0.2s all;
}

.menu a:hover {
  color: rgb(62, 106, 250);
}

.menu a.selected-link {
  color: rgb(62, 106, 250);
  cursor: default;
  pointer-events: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  padding-bottom: 20px;
  width: 600px;
  font-size: 20px;
}

.btn {
  width: 75px;
  height: 30px;
  border-radius: 3px;
  transition: 0.2s all;
  text-transform: uppercase;
}

h1 {
  font-weight: 500;
  text-align: center;
}

h1:hover {
  cursor: default;
}

.add-new-item {
  position: relative;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 525px 60px;
  grid-template-rows: 55px;
  grid-auto-rows: 55px;
  column-gap: 10px;
  position: relative;
}

.add-todo-input {
  display: block;
  font-size: 18px;
  width: 92%;
  cursor: text;
  padding: 0 15px;
  border: 2px solid rgba(117, 117, 117, 0.1);
  border-radius: 5px;
  z-index: 1;
  transition: 0.3s all;
}

.input-label {
  position: absolute;
  display: block;
  padding: 0 5px;
  font-weight: 300;
  font-size: 18px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.4s all;
}

.input-label:hover {
  cursor: text;
}

.add-todo-input:focus,
.edit-item-input:focus {
  outline: none;
}

.add-todo-input:valid + .input-label,
.add-todo-input:focus + .input-label,
.edit-item-input:valid + .input-label,
.edit-item-input:focus + .input-label {
  top: 0;
  font-size: 12px;
  background-color: #fff;
}

.add-btn,
.save-btn {
  height: 65%;
  width: 90%;
  align-self: center;
  font-size: 13px;
  background-color: rgb(62, 106, 250);
  color: white;
  border: none;
  border-radius: 5px;
  justify-self: flex-end;
}

.btn:hover {
  cursor: pointer;
}

.filter-wrapper {
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  position: relative;
}

.filter-btns {
  justify-self: end;
}

.filter-btn {
  color: rgb(62, 106, 250);
  background: none;
  border: none;
  font-size: 14px;
  margin-left: 15px;
}

.filter-btn:hover {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
  color: rgba(62, 106, 250, 0.6);
}

.selected:hover {
  cursor: default;
}

.check-all {
  position: relative;
}

.check-all::after {
  content: '';
  display: block;
  width: 47%;
  height: 1.5px;
  position: absolute;
  top: 30px;
  left: 12px;
  background-color: black;
}

.check-all div {
  padding-left: 50px;
  font-size: 14px;
}

#selectAllCheckbox {
  top: 23%;
  left: 18px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

li .start {
  align-self: center;
  padding-left: 40px;
  position: relative;
  width: auto;
  font-size: 18px;
}

li .start div:hover {
  cursor: pointer;
}

.checkbox {
  display: block;
  transform: scale(1.9);
  cursor: pointer;
  position: absolute;
  top: 27%;
  left: 8px;
}

.checked {
  text-decoration: line-through;
}

.delete-btn,
.cancel-btn {
  border: 0.5px solid rgb(250, 70, 100);
  background-color: white;
  color: rgb(250, 70, 100);
}

.delete-btn:hover,
.cancel-btn:hover {
  background-color: rgb(250, 70, 100);
  color: white;
}

.save-btn {
  width: 75px;
  height: 30px;
  margin-left: 15px;
}

.edit-item-form {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 40px;
  padding-left: 40px;
  transition: 0.4s all;
}

.edit-item-form div {
  justify-self: end;
  align-self: center;
}

.edit-item-input {
  padding: 0 12px;
  border: 2px solid rgba(117, 117, 117, 0.5);
  border-radius: 5px;
  font-size: 18px;
  cursor: text;
  transition: 0.3s all;
}

.edit-input-label {
  position: absolute;
  display: block;
  padding: 0 5px;
  font-weight: 300;
  font-size: 18px;
  left: 49px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.4s all;
}

.edit-input-label:hover {
  cursor: text;
}

.edit-item-input:valid + .edit-input-label,
.edit-item-input:focus + .edit-input-label {
  top: 0;
  font-size: 12px;
  background-color: #fff;
}

.login,
.registration {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: auto;
  row-gap: 40px;
  align-content: center;
  position: relative;
  margin: 0 auto;
  width: 60%;
}

.login .field-wrapper,
.registration .field-wrapper {
  margin: 0 auto;
  width: 60%;
  position: relative;
}

.field-wrapper > div:first-child {
  position: relative;
}

.login input,
.registration input {
  display: block;
  width: 92%;
  height: 40px;
}

.add-new-item input::placeholder,
.edit-item-form input::placeholder,
.login input::placeholder,
.registration input::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.add-new-item input:focus::placeholder,
.edit-item-form input:focus::placeholder,
.login input:focus::placeholder,
.registration input:focus::placeholder {
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.3s;
}

.registration select {
  display: block;
  width: 98%;
  height: 40px;
}

.login input.error,
.registration input.error,
.add-new-item input.error,
.edit-item-form input.error,
.registration select.error {
  border-color: rgba(250, 70, 100, 0.7);
  outline-color: rgb(250, 70, 100);
}

.login label,
.registration label {
  font-size: 15px;
}

.login .save-btn,
.registration .save-btn {
  justify-self: center;
  margin-left: 0;
}

.login-btn {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
}

.error-message {
  margin-top: 3px;
  margin-left: 8px;
  display: block;
  color: rgb(250, 70, 100);
  font-size: 11px;
  position: absolute;
}

.list-container .error-message {
  margin-left: 50px;
}

.container > .error-message,
.login-btn > .error-message {
  left: 49%;
  bottom: 0;
  transform: translateX(-50%);
}
